.topbar {

    height:
    calc(
    var(--topbar-height)
    + env(safe-area-inset-top)
    );

    background: rgba(255,255,255,.85);

    backdrop-filter: blur(16px);

    border-bottom: 1px solid var(--border);

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding:
    env(safe-area-inset-top)
    24px
    0;

    position: sticky;
    top: 0;
    z-index: 50;
}
